<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Parafait_Kiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString" connectionString="Data Source=MLR-LT050\SQLEXPRESS;Initial Catalog=parafait;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" />
    <add name="Parafait_Kiosk.Properties.Settings.ParafaitConnectionString" connectionString="Data Source=.\SQLEXPRESS;initial catalog=parafait;user id=parafait;password=parafait;Connect Timeout=30" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Parafait_Kiosk.Properties.Settings>
      <setting name="BillAcceptorPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CoinAcceptorPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrinterPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CardDispenserPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisablePurchase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExitCode" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="RegistrationAllowed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnorePrinterError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableNewCard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CardAcceptorPort" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UIThemeNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowBonus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCourtesy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowGames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTickets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowLoyaltyPoints" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTransfer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableRedeemTokens" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFAQ" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTime" serializeAs="String">
        <value>False</value>
      </setting>
    </Parafait_Kiosk.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="DeviceID" value="1">
    </add>
    <add key="CurrencyCode" value="AUD">
    </add>
    <add key="POSProtocol" value="0007">
    </add>
    <add key="VendorID" value="Semnox">
    </add>
    <add key="PaymentExpressURL" value="https://qa4.paymentexpress.com/scr.aspx">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>