<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString" connectionString="Data Source=MLR-LT082\SQLEXPRESS;Initial Catalog=parafait;Persist Security Info=True;User ID=parafait;Password=&quot;4gQwV2fmviruckst1v2Aqw==&quot;;Connect Timeout=30" />
    <add name="Parafait_POS.Properties.Settings.ParafaitConnectionString" connectionString="Data Source=MLR-LT082\SQLEXPRESS;Initial Catalog=parafait;Persist Security Info=True;User ID=parafait;Password=&quot;4gQwV2fmviruckst1v2Aqw==&quot;;Connect Timeout=30" />
  </connectionStrings>
  <appSettings>
    <!-- Request Message Attributes-->
    <add key="EXECUTION_MODE" value="Local"></add>
    <add key="WEB_API_ORIGIN_KEY" value="ParafaitPOS"></add>
    <add key="WEB_API_URL" value="http://localhost:60875"></add>
    <!--<add key="WEB_API_URL" value="http://localhost:447"></add>-->
    <add key="AnonymousLoginKeyParafaitPOS" value="WpIJGbRcLNgK8wq9U9GrezJOZ2dXQsKHwGeXYpP3BuyufVynG//9Jw=="></add>
    <add key="SITE_ID" value="1012"></add>
    <!-- Request Message Attributes-->
    <add key="SemnoxLogFileName.Config" value="ParafaitPOSLoggerSetting.config" />
    <add key="LogLevel" value="INFO" />
    <add key="DefaultLogLevel" value="INFO" />
    <add key="EnableDetailedLogging" value="False" />
    <add key="SYSTEM_USER_LOGIN_ID" value="ParafaitPOS" />
    <add key="SYSTEM_USER_PASSWORD" value="zKYh1RgsAEsPCIO9p5de9w=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>