<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Parafait_FnB_Kiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
 <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString" connectionString="Data Source=MLR-LT050\SQLEXPRESS;Initial Catalog=parafait_New;Persist Security Info=True;User ID=Parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Parafait_FnB_Kiosk.Properties.Settings>
            <setting name="CardDispenserPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitCode" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="BillAcceptorPort" serializeAs="String">
                <value>6</value>
            </setting>
        </Parafait_FnB_Kiosk.Properties.Settings>
    </userSettings>
   <appSettings>
     <!-- Start mercury setup- Request Message Attributes-->
    <add key="MerchantID" value="755847003"></add>
    <add key="WSpassword" value="xyz"></add>
    <!-- Status Messages ENDS-->

    <!-- voidsale Message Attributes-->
    <add key="Frequency" value="OneTime"></add>
    <add key="TerminalName" value="MPS Terminal"></add>
    <add key="ShiftID" value="MPS Shift"></add>
    <add key="OperatorID" value="test"></add>
    <add key="TranCode" value="VoidSaleByRecordNo"></add>
    <add key="Memo" value="Semnox-V1.0"></add>
    <add key="RecordNumberRequested" value="RecordNumberRequested"></add>
    <add key="EncryptedFormat" value="MagneSafe"></add>
    <add key="AccountSource" value="Swiped"></add>
    <add key="CardType" value="Retail"></add>
    <add key="partialAuth" value="Allow"></add>
    <add key="RefNo" value="10"></add>
    <!-- Status Messages ENDS-->

    <!-- Device Timeouts starts-->
    <!--
    <add key="RequestWaitCardTime" value="10"></add>
    <add key="TMCardRequest" value="5"></add> 
    <add key="TMPINComplete" value="5"></add>
    <add key="TMPINRequest" value="5"></add>
    <add key="TMPINDisplay" value="5"></add>
    <add key="TMKeyComplete" value="5"></add>
    -->
    <!-- Device Timeouts ENDS-->

    <!-- Device Timeouts starts-->
    <add key="RequestWaitCardTime" value="55"></add>
    <add key="TMCardRequest" value="10"></add>
    <add key="TMPINComplete" value="10"></add>
    <add key="TMPINRequest" value="60"></add>
    <add key="TMPINDisplay" value="5"></add>
    <add key="TMKeyComplete" value="10"></add>
    <!-- Device Timeouts ENDS-->

    <!-- PopUp window Timeouts START - it will in seconds-->
    <add key="PoupcloseTimeout" value="2000"></add>
    <!-- PopUp window  Timeouts ENDS-->

    <!-- WebService details starts-->
    <add key="ServiceName" value="ws"></add>
    <add key="MethodName" value="CreditTransaction"></add>
    <add key="MethodNameInvoiceNo" value="CTranDetail"></add>
    <add key="uri" value="https://w1.XYZ.net/ws/ws.asmx"></add>
    <!-- WebService details ENDS-->
     <!-- End mercury setup-->
     <!-- Request Message Attributes-->

    <add key="MerchantID" value="755847003"></add>

    <add key="WSpassword" value="xyz"></add>

    <!-- Status Messages ENDS-->

 

    <!-- voidsale Message Attributes-->

    <add key="Frequency" value="OneTime"></add>

    <add key="TerminalName" value="MPS Terminal"></add>

    <add key="ShiftID" value="MPS Shift"></add>

    <add key="OperatorID" value="test"></add>

    <add key="TranCode" value="VoidSaleByRecordNo"></add>

    <add key="Memo" value="Semnox-V1.0"></add>

    <add key="RecordNumberRequested" value="RecordNumberRequested"></add>

    <add key="EncryptedFormat" value="MagneSafe"></add>

    <add key="AccountSource" value="Swiped"></add>

    <add key="CardType" value="Retail"></add>

    <add key="partialAuth" value="Allow"></add>

    <add key="RefNo" value="10"></add>

    <!-- Status Messages ENDS-->

 

    <!-- Device Timeouts starts-->

    <!--

    <add key="RequestWaitCardTime" value="10"></add>

    <add key="TMCardRequest" value="5"></add> 

    <add key="TMPINComplete" value="5"></add>

    <add key="TMPINRequest" value="5"></add>

    <add key="TMPINDisplay" value="5"></add>

    <add key="TMKeyComplete" value="5"></add>

    -->

    <!-- Device Timeouts ENDS-->

 

    <!-- Device Timeouts starts-->

    <add key="RequestWaitCardTime" value="55"></add>

    <add key="TMCardRequest" value="10"></add>

    <add key="TMPINComplete" value="10"></add>

    <add key="TMPINRequest" value="60"></add>

    <add key="TMPINDisplay" value="5"></add>

    <add key="TMKeyComplete" value="10"></add>

    <!-- Device Timeouts ENDS-->

 

    <!-- PopUp window Timeouts START - it will in seconds-->

    <add key="PoupcloseTimeout" value="2000"></add>

    <!-- PopUp window  Timeouts ENDS-->

 

    <!-- WebService details starts-->

    <add key="ServiceName" value="ws"></add>

    <add key="MethodName" value="CreditTransaction"></add>

    <add key="MethodNameInvoiceNo" value="CTranDetail"></add>

    <add key="uri" value="https://w1.mercurycert.net/ws/ws.asmx"></add>

    <!-- WebService details ENDS-->

 
   </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransactionServicesSoap"/>
                <binding name="UserServicesSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TransactionServices.asmx" binding="basicHttpBinding" bindingConfiguration="TransactionServicesSoap" contract="TransactionServices.TransactionServicesSoap" name="TransactionServicesSoap"/>
            <endpoint address="http://localhost/UserServices.asmx" binding="basicHttpBinding" bindingConfiguration="UserServicesSoap" contract="UserServices.UserServicesSoap" name="UserServicesSoap"/>
        </client>
    </system.serviceModel>
</configuration>
