<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Generics.Properties.Settings.ParafaitConnectionString"
            connectionString="Data Source=MLR-LT001\SQLEXPRESS;Initial Catalog=parafait;Persist Security Info=True;User ID=parafait;Password=parafait1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>