<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Work\PublishTarget\CommonAPI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ParafaitUtils.Properties.Settings.ParafaitConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=ParafaitCECTest;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ParafaitUtils.Properties.Settings.ParafaitConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=ParafaitCECTest;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ParafaitConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=ParafaitCECTest;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ParafaitConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=ParafaitCECTest;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ParafaitDBContexts" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=ParafaitCECTest;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ParafaitDBContexts_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=MLR-LT083\SQLEXPRESS;initial catalog=ParafaitCECTest;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ParafaitEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=ParafaitCECTest;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ParafaitEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ParafaitModel.csdl|res://*/ParafaitModel.ssdl|res://*/ParafaitModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MLR-LT083\SQLEXPRESS;initial catalog=ParafaitCECTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ParafaitConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ParafaitDBContexts-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ParafaitEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ParafaitUtils.Properties.Settings.ParafaitConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>