<?xml version="1.0" standalone="yes"?><NewDataSet>  <Settings>    <PortName>COM9</PortName>    <BaudRate>19200</BaudRate>    <Timeout>10</Timeout>    <TxnTimeout>90</TxnTimeout>    <UploadTimeout>300</UploadTimeout>    <Trace>True</Trace>    <TracePath>C:\Work\CreditcardAlmunthaza\FAB_Kiosk\logs_Vx520\</TracePath>    <Delay>True</Delay>    <DelayTimeout>1</DelayTimeout>    <LICData>15CEB6E991F3279E</LICData>    <flgWaitRes>False</flgWaitRes>  </Settings></NewDataSet>