<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
                <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString"
                    connectionString="Data Source=KIRAN-LAPTOP\SQLEXPRESS;initial catalog=parafait;Connect Timeout=30;user id=parafait;password=parafait;"
                    providerName="System.Data.SqlClient" />
                <add name="Parafait_POS.Properties.Settings.RedemptionConnectionString"
                    connectionString="Data Source=KIRAN-LAPTOP\SQLEXPRESS;initial catalog=redemption;user id=parafait;password=parafait;Connect Timeout=30;" />
        </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
