<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Parafait_POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Parafait_POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <connectionStrings>
      
      <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString"
          connectionString="Data Source=MLR-LT143\SQLEXPRESS;Initial Catalog=parafaitHerculesDB;Persist Security Info=True;User ID=parafait;Password=&quot;U5cxEMzjR+Gj6RpeLo2gwQ==&quot;;Connect Timeout=30" />
      <add name="Parafait_POS.Properties.Settings.ParafaitConnectionString"
          connectionString="Data Source=MLR-LT143\SQLEXPRESS;Initial Catalog=parafaitHerculesDB;Persist Security Info=True;User ID=parafait;Password=&quot;U5cxEMzjR+Gj6RpeLo2gwQ==&quot;;Connect Timeout=30" />

      <!--<add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString"
          connectionString="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=parafaitgkattr;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" />
      <add name="Parafait_POS.Properties.Settings.ParafaitConnectionString"
          connectionString="Data Source=MLR-LT083\SQLEXPRESS;Initial Catalog=parafaitdecathlon;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30" />-->
    </connectionStrings>
    <userSettings>
        <Parafait_POS.Properties.Settings>
            <setting name="ParafaitCOMPortNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParafaitPOSSkinColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BarcodeCOMPortNumber" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultPayMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PoleDisplayCOMPort" serializeAs="String">
                <value>2</value>
            </setting>
        </Parafait_POS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IParafaitRemoting" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/ParafaitRemoting/Service/ParafaitRemoting" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IParafaitRemoting" contract="IParafaitRemoting" name="WSHttpBinding_IParafaitRemoting">
        <identity>
          <userPrincipalName value="IQBALLAPTOP\TOSHIBA"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Parafait_POS.Properties.Settings>
      <setting name="Parafait_POS_ParafaitWS_Service" serializeAs="String">
        <value>http://user/parafaitcentral/parafaitws/service.asmx</value>
      </setting>
      <setting name="EnableDetailedLogging" serializeAs="String">
        <value>False</value>
      </setting>
    </Parafait_POS.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="ParafaitPOS" type="log4net.Appender.RollingFileAppender">
      <file value="logs\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="Error"/>
      <appender-ref ref="ParafaitPOS"/>
    </root>
  </log4net>
  <appSettings>

    <!-- Request Message Attributes-->
    <add key="MerchantID" value="395347308=E2ETKN"></add>
    <add key="WSpassword" value="123E2ETKN"></add>
    <!-- Status Messages ENDS-->

    <!-- voidsale Message Attributes-->
    <add key="Frequency" value="OneTime"></add>
    <add key="TerminalName" value="MPS Terminal"></add>
    <add key="ShiftID" value="MPS Shift"></add>
    <add key="OperatorID" value="test"></add>
    <add key="TranCode" value="VoidSaleByRecordNo"></add>
    <add key="Memo" value="Semnox-V1.0"></add>
    <add key="RecordNumberRequested" value="RecordNumberRequested"></add>
    <add key="EncryptedFormat" value="MagneSafe"></add>
    <add key="AccountSource" value="Swiped"></add>
    <add key="CardType" value="Retail"></add>
    <add key="partialAuth" value="Allow"></add>
    <add key="RefNo" value="10"></add>
    <!-- Status Messages ENDS-->

    <!-- Device Timeouts starts-->
    <!--
    <add key="RequestWaitCardTime" value="10"></add>
    <add key="TMCardRequest" value="5"></add> 
    <add key="TMPINComplete" value="5"></add>
    <add key="TMPINRequest" value="5"></add>
    <add key="TMPINDisplay" value="5"></add>
    <add key="TMKeyComplete" value="5"></add>
    -->
    <!-- Device Timeouts ENDS-->

    <!-- Device Timeouts starts-->
    <add key="RequestWaitCardTime" value="55"></add>
    <add key="TMCardRequest" value="10"></add>
    <add key="TMPINComplete" value="10"></add>
    <add key="TMPINRequest" value="60"></add>
    <add key="TMPINDisplay" value="5"></add>
    <add key="TMKeyComplete" value="10"></add>
    <!-- Device Timeouts ENDS-->

    <!-- PopUp window Timeouts START - it will in seconds-->
    <add key="PoupcloseTimeout" value="2000"></add>
    <!-- PopUp window  Timeouts ENDS-->

    <!-- WebService details starts-->
    <add key="ServiceName" value="ws"></add>
    <add key="MethodName" value="CreditTransaction"></add>
    <add key="MethodNameInvoiceNo" value="CTranDetail"></add>
    <add key="uri" value="https://w1.mercurydev.net/ws/ws.asmx"></add>
    <!-- WebService details ENDS-->
    <add key="LogLevel" value="Debug"></add>
    <add key="EnableDetailedLogging" value="false"></add>
  </appSettings>
  
</configuration>
