<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString"
            connectionString="Data Source=MLR-LT031\SQLEXPRESS;Initial Catalog=parafait;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30"/>
    <add name="ParafaitConnectionString"
         connectionString="Data Source=MLR-LT031\SQLEXPRESS;Initial Catalog=parafait;Persist Security Info=True;User ID=parafait;Password=&quot;pezz4aLNZ5rhAMN04bUczw==&quot;;Connect Timeout=30"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
